/* MapView.module.css */
.customToggle {
  text-decoration: none !important;
  color: white !important;
  opacity: .7 !important;
  /* font-size: 20px !important; */
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100% !important;
  transition: opacity 0.3s ease !important;
}

.customToggle:hover {
  opacity: 1 !important;
}

.chevron {
  transition: transform 0.3s ease;
}

.chevron.rotate {
  transform: rotate(180deg);
}